@import "../typography";

$border-color: #767676;
$grey: #D0D0D0;

.logo {
  width: 100%;
  display: flex;
  justify-content: center;

  > img {
    margin-left: -5px;
  }
}

.wrapper {
  height: 100vh;
  padding: 30px;
  padding-bottom: 10vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: 'Inconsolata', sans-serif;
  //font-weight: 900;
  letter-spacing: 2px;
  color: #373737;
  display: block;
  margin: 20px 0px;

  font-size: 20px;
  white-space: nowrap;
  text-align: center;

  padding-bottom: 10px;
  border-bottom: 1px solid $border-color;
}

.contact > .link {
  margin-top: -5px;
  font-size: 11px;
  color: #292929;

  &:before {
    content: '-';
    color: #292929;
  }
}

.link {
  display: block;
  color: $grey;

  font-family: 'Roboto Mono', sans-serif;
  font-weight: normal;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.active {
  color: #292929;
}

.contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

.details {
  padding-top: 10px;
  border-top: 1px solid $border-color;

  > p {
    margin: 0;
    margin-bottom: -7px;
    font-family: 'Inconsolata', sans-serif;
    font-size: 13px;
    color: #292929;
  }
}
