<div class="wrapper">
  <div class="content">

    <div class="logo">
      <img src="http://i.imgur.com/D8VYHLh.png"/>
    </div>

    <section>
      <div class="r"></div>
      <div class="g"></div>
      <div class="b"></div>
    </section>

    <h3 class="title">
      Leo Sandström
    </h3>

    <span class="link" routerLinkActive="active">
      <a [routerLink]="['/gallery']">Gallery</a>
    </span>

    <span class="link" routerLinkActive="active">
      <a [routerLink]="['/projects']">Projects</a>
    </span>

    <span class="link" routerLinkActive="active">
      <a [routerLink]="['/blog']">Blog</a>
    </span>

    <div class="contact">
      <span class="link active">
        &nbsp; - Instagram
      </span>

      <span class="link active">
        &nbsp; - Youtube
      </span>

      <span class="link active">
        &nbsp; - GitHub
      </span>
    </div>

    <div class="details">
      <p>leosand97@gmail.com</p>
      <p>070-3284482</p>
    </div>

  </div>




</div>
