@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500);

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #292929;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #666;
}

span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
